{% extends 'base.html' %}

{% block content %}

<div class="page-header">

    <h1 class="title">Student Blogs</h1>

    <a href="{{url_for('create_blog')}}"
       class="btn">

       Create Blog

    </a>

</div>

{% for blog in blogs %}

<div class="card">

    <h2>{{blog['title']}}</h2>

    <p>{{blog['content']}}</p>

    <p>
        <strong>Category:</strong>
        {{blog['category']}}
    </p>

    <p>
        <strong>Likes:</strong>
        {{blog['likes']}}
    </p>

    <a href="{{url_for('like_blog',
        id=blog['id'])}}"
       class="btn">

        Like Blog

    </a>

</div>

{% endfor %}

{% endblock %}