{% extends 'base.html' %}

{% block content %}

<h1 class="title">User Login</h1>

<form method="post">

    <input type="email"
           name="email"
           placeholder="Enter email..."
           required>

    <input type="password"
           name="password"
           placeholder="Enter password..."
           required>

    <button type="submit">
        Login
    </button>

</form>

<div class="signup_div">

    <p>

        Don't have an account?

        <a href="{{url_for('signup')}}" class="signup_btn">
            Signup
        </a>

    </p>

</div>

{% endblock %}