{% extends 'base.html' %}

{% block content %}

<h1 class="title">Create Account</h1>

<form method="post"
      onsubmit="return validatePassword()">

    <input type="text"
           name="username"
           placeholder="Enter username..."
           required>

    <input type="email"
           name="email"
           placeholder="Enter email..."
           required>

    <input type="password"
           name="password"
           placeholder="Enter password..."
           required>

    <button type="submit">
        Signup
    </button>

</form>

<div class="signup_div">

    <p>

        Already have an account?

        <a href="{{url_for('login')}}" class="login_btn">
            Login
        </a>

    </p>

</div>

{% endblock %}